DB_HOST=your-db-host
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_NAME=postgres
REDIS_URL=your-redis-url
REDIS_PASSWORD=your-redis-password
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=anirudhan1221@gmail.com
SENDGRID_FROM_NAME=Kanban Collab
FRONTEND_URL=http://localhost:3000
PORT=5000
SUPABASE_KEY=your-supabase-key
JWT_SECRET=your-jwt-secret-here
